$dropper-css-prefix:  dropper !default;

.#{$dropper-css-prefix} {
    position: relative;
    border: 5px dashed #DDD;
    text-align: center;
    background-color: #eeeeee;
    font-family: sans-serif;
    margin: 1rem;
    box-sizing: content-box;

    .#{$dropper-css-prefix}__dropzone {
        padding: 3rem;
        position: relative;
        
        span {
            margin: 1rem 0;
            display: block;
        }
    }
    
    .#{$dropper-css-prefix}__input {
        position: absolute;
        top:0;
        right:0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        line-height: auto;
        cursor: pointer;
        opacity: 0;
        z-index: 1;
    }
    
    .#{$dropper-css-prefix}__preview {
        z-index: 2;
        position: relative;
        display: none;
        vertical-align: bottom;
    }
    
    .#{$dropper-css-prefix}__toolbar {
        position: absolute;
        left: .5rem;
        bottom: .5rem;
        cursor: pointer;
        text-align: left;
        margin: 0;
        padding: 0;
        list-style-type: none;
        z-index: 999;
        
        button {
            float: left;
            margin-right: .5rem;
        }
    }
    
    .#{$dropper-css-prefix}__set,
    .#{$dropper-css-prefix}__clear,
    .#{$dropper-css-prefix}__rotate {
        display: none;
    }

    .#{$dropper-css-prefix}__image {
        margin: 0 auto;
        display: block;
        max-width: 100%; 
        height: auto;
    }
    
    .#{$dropper-css-prefix}__result {
        display: block;
        
        a {
            display: block;
            text-decoration: none;
        }
    }
    
    button {
        border: 1px solid #CCC;
        background: white;
        outline: none;
        color: #333;
        padding: .5rem 1rem;
        font-weight: bold;
        position: relative;
        
        &:hover {
            border-color:#666666;
        }
    }
    
    
    // Empty - Show file selector/dropzone
    &.empty {
        border-style: dashed;
    
        .#{$dropper-css-prefix}__dropzone {
            display: block;
        }
    }
    
    // Cropping - Show Set and Clear and Rotate buttons
    &.active {
        .#{$dropper-css-prefix}__set {
            display: block;
        }
    }
    
    // Image Set - Show Clear button only
    &.set,
    &.active {
        border-style: solid;
        
        .#{$dropper-css-prefix}__dropzone {
            display: none;
        }
        
        .#{$dropper-css-prefix}__preview,
        .#{$dropper-css-prefix}__clear {
            display: inline-block;
        }
    }
    
    &.set {
        display: inline-block;
    }
    
    
}

@import "../libs/jcrop/jcrop";
